body {
  display: grid;
  background: linear-gradient(to bottom, #ffffff, #ebbff894) fixed;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: sans-serif;
}
img {
  width: 100px;
  border-radius: 30px;
}
.navigation {
  background: linear-gradient(to right, #ed6ea0, #ec8c69);
  box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.15);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navigation a {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.61);
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  padding: 14px 70px;
  font-size: 17px;
}
.navigation a:hover {
  background: rgba(128, 128, 128, 0.377);
  color: rgb(255, 255, 255);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
iframe {
  width: 100%;
  height: 450px;
  background: rgba(255, 255, 255, 0.356);
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.15);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
